@font-face {
    font-family: poppins;
    src: url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

.nav-container{
    background: rgb(142,45,226);
    background: linear-gradient(90deg, rgba(142,45,226,1) 0%, rgba(75,0,224,0.91) 100%);
    color: #FFFF;
    padding: 20px 50px;
}

.nav-logo{font-size: 14pt;}

.nav-logo img{
    width: 45px;
    height: 43px;
    margin-right: 5px;
}

.nav-link{
    width: 450px;
    padding: 0;
}

.nav-btn{width: 200px;}

.nav-btn a{
    text-decoration: none;
    color: #FFFF;
}

.btn-daftar{
    border: 0.5px solid #EFA117;
    padding: 8px 20px;
    border-radius: 3px;
}

.btn-login{
    background-color: #EFA117;
    padding: 8px 23px;
    border-radius: 3px;
    font-weight: bold;
}

.bg-img{
    background-image: url("../img/bg_hero.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90vh;
}

.hero-container{padding: 20px 50px;}

.hero-text{
    color: #FFFF;
    margin-top: 50px;
    font-size: 35pt;
}

.hero-subtext{
    color: #FFFF;
    margin-top: 35px;
    font-size: 13pt;
}

.hero-btn{
    width: 190px;
    padding: 15px 18px;
    margin-top: 60px;
    border-radius: 5px;
    background-color: #EFA117;
}

.hero-btn a{
    text-decoration: none;
    color: #FFFF;
    font-size: 13pt;
    font-weight: 600;
}

.hero-btn img{margin-left: 15px;}

.hero-link{
    margin-top: 150px;
    width: 80px;
}

.link-item a{
    font-size: 21pt;
    color: #EFA117;
    text-decoration: none;
}

.def-container, .prog-container{padding: 80px 50px 100px 50px;}
.def-title{margin-bottom: 80px;}

.def-content{
    width: 85%;
    margin: auto;
}

.def-img{width: 40%;}
.def-text{width: 40%;}

.def-img-item{
    width: 431px;
    height: 288px;
}

.prog-content{margin: 60px 60px 60px 60px;}

.prog-img{
    width: 350px;
    height: 350px;
    box-shadow: 0px 6px 20px rgb(191, 191, 191);
    transition: all 0.1s cubic-bezier(.25, .8, .25, .1);
}

.prog-img:hover{
    animation-name: example;
    animation-duration: 0.25s;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.testi-container{
    padding: 50px 50px;
}

.testi-card{
    width: 380px;
    box-shadow: 0px 6px 20px rgb(191, 191, 191);
    transition: all 0.1s cubic-bezier(.25, .8, .25, .1);
}

.testi-card:hover{
    animation-name: example;
    animation-duration: 0.25s;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.up-card{
    color: #FFFF;
    padding: 20px 25px;
    background: rgb(142,45,226);
    background: linear-gradient(90deg, rgba(142,45,226,1) 0%, rgba(75,0,224,1) 100%);
}

.testi-img{
    width: 70px;
    border: 1.5px solid #ffff;
}
.up-text h5{margin-bottom: 5px;}
.up-text p{font-size: 11pt;}
.botm-card{
    padding: 35px 25px;
    font-size: 12pt;
    font-style: italic;
}
.testi-carou{
    margin-top: 90px;
    height: 300px;
}
.konsul-container{padding: 50px 50px;}

.konsul-content{
    padding: 60px 50px;
    width: 100%;
}
.konsul-left{width: 30%;}
.konsul-right{width: 40%;}

.konsul-img{
    width: 500px;
    box-shadow: 0px 6px 20px rgb(191, 191, 191);
}
.konsul-input{margin: 0 0 15px 0;
    box-shadow: 0px 0px 5px rgb(212, 212, 212);
}

.konsul-btn{
    color: #FFFF;
    border: none;
    background-color: #EFA117;
}

.konsul-btn:hover{
    background-color: #d38c12;
}

.foo-container{
    color: #FFFF;
    padding: 50px 50px;
    background-color: #310092e1;
}

.foo-left{width: 35%;}
.add-text{font-weight: 300;}

.foo-right{
    width: 35%;
}

ul li{
   list-style: none; 
}

ul li a{
    color: #FFFF;
    text-decoration: none;
}

.li-title{
    font-weight: 700;
}

li a{
    font-weight: 300;
}
